/* CSS Document */
.session_title {
	color: white;
	font-size: 20px;
	/*font-weight: bold; */
	text-align: center;
	background-color: #5EC077;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 4px;
}
.session {
	color: white;
	font-size: 18px;
	text-align: center;
	background-color: yellow;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 4px;
}
.luncheon {
	color: yellow;
	font-size: 18px;
	text-align: center;
	background-color: #F897DD;
	width: 90%;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
.mini_lecture {
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	background-color: #48D9D5;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 4px;
	margin-top: 4px;
	border-radius: 20px;
}
.session_sub {
	color: #5903F2;
	font-size: 16px;
	font-weight: bold;
	background-color: #E5DFDF;
	border-radius: 20px;
	padding: 8px;
}
.subsession_button {
	background-color: #E5DFDF;
}
.subsession {
	padding: 1.8rem;
	font-size: 1.6rem;
	color: white;
	font-weight: bold;
	line-height: 2.8rem;
	background-color: blueviolet;
	border-radius: 2rem;
	margin: 1rem;
}

.div_border2 {
	border: solid blue 2px;
	background-color: #E5DFDF;
}
.fright {
	float: right;
}
.fleft {
	float: left;
}
.fclear {
	clear: both;
}
.smf {
	font-size: 12px;
}
.small_left_align {
	text-align: left;
	font-size: 12px;
}
.mid_left_align {
	text-align: left;
	font-size: 14px;
}
.description {
	font-size: 12px;
}
.tri_button {
	width: 10%;
	margin-left: auto;
	margin-right: auto;
	color: yellow;
	background-color: red;
}
